.archive__title {
  margin-left: 20px;
}
.archive__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1rem;
  padding: 20px;
}
.archive__body > div {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.archive__body .bank-archive ul {
  width: 100%;
}

.archive__body .bank-archive ul li {
  width: 100%;
  align-items: center;
  height: 35px;
  border-bottom: 1px solid #90a0b7;
  display: flex;
  justify-content: space-between;
}
.archive__body ul li > span {
  width: 55px;

  color: white;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-weight: 600;
}

.archive__body ul li .deleteStng {
  font-size: 14px;
  opacity: 0;
}
.archive__body ul li .deleteStng img {
  width: 20px;
  cursor: pointer;
}
.archive__body ul li .deleteStng img {
  margin-left: 10px;
}
.archive__body ul li:hover > .deleteStng {
  opacity: 1;
}

.archive__body .MuiSvgIcon-root {
  opacity: 0;
}

.archive__body ul li:hover .MuiSvgIcon-root {
  opacity: 1;
  cursor: pointer;
}

.archive__body ul > li:last-child > input {
  border: none;
  border-bottom: 1px solid #90a0b7;
  height: 35px;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  width: 100%;
  outline: none;
}
.archive__body ul > li:last-child > input:focus {
  border-bottom: 3px solid #992ada;
}
